---
---

@import "{{ site.theme }}";
body {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 1024px;
    padding: 20px 10px;
    margin: 0 auto;
}

.indexTitelGradient {
    width: 100%;

    background-image: -webkit-linear-gradient(left, lightgrey 30%, #F2F2F2 80%);
    background-image: -moz-linear-gradient(left, lightgrey 30%, #F2F2F2 80%);
    background-image: -ms-linear-gradient(left, lightgrey 30%, #F2F2F2 80%);
    background-image: -o-linear-gradient(left, lightgrey 30%, #F2F2F2 80%);
    background-image: linear-gradient(left, lightgrey 30%, #F2F2F2 80%);
    padding-top: 12px;
    padding-left: 3px;
    padding-bottom: 8px;
    margin-top: 72px;
    margin-bottom: 20px;
    font-size: 18px;
}

img {
    max-width: 700px;
	@media screen {
		max-width: 1000px;
	}
}

h3 {
    font-size: 24px;
	border-bottom: 1px solid black;
}
